.stats-view, .all-courses-thumbnail, .enrolled-courses-thumbnail{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 20px;
}

.stats-view .p-card {
  height: 200px;
  width: 330px;
  cursor: pointer;
}

.all-courses .p-card {
  height: 200px;
  width: 330px;
  cursor: pointer;
}

.enrolled-courses-thumbnail .p-card {
  height: 200px;
  width: 330px;
  cursor: pointer;
}